// Import dialtone style definitions as references globally so they can be used in
// mixins. See: https://dialtone.dialpad.com

// Reset base font size to 12px.
:root {
  --base--font-size: var(--dt-font-size-100);
}

/* Hiding class, making content visible only to screen readers but not visually */

/* "sr" meaning "screen-reader" */

/* https://css-tricks.com/inclusively-hidden/ */
.sr-only:not(:focus, :active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

// Component preview background and foreground colors need to be set apart from global theme
.sb-show-main {
   color: var(--dt-color-foreground-primary) !important;
   background: var(--dt-color-surface-primary) !important;
}

// CSS override to avoid header links to move while changing theme on Docs mode
.css-1ofkq6d {
  margin-left: var(--dt-space-550-negative) !important;
}
