& {
  @import "highlight_variables.less";
  --dtc-scheme-color-identifier: darken(@color-identifier, 10%);
  --dtc-scheme-color-class: darken(@color-class, 15%);
  --dtc-scheme-color-string: spin(darken(@color-string, 20%), -10%);
  --dtc-scheme-color-value: darken(@color-value, 10%);
  --dtc-scheme-color-function: darken(@color-function, 20%);
}
