name: Release packages

on:
  workflow_dispatch:
    inputs:
      base:
        required: true
        description: 'Base commit SHA to compare changes from'
  push:
    branches:
      - production
      - alpha
      - beta
      - next

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  HUSKY: 0

jobs:
  filter-actions:
    runs-on: ubuntu-latest
    outputs:
      dialtone: ${{ steps.filter.outputs.dialtone }}
      css: ${{ steps.filter.outputs.css }}
      emojis: ${{ steps.filter.outputs.emojis }}
      icons: ${{ steps.filter.outputs.icons }}
      tokens: ${{ steps.filter.outputs.tokens }}
      vue2: ${{ steps.filter.outputs.vue2 }}
      vue3: ${{ steps.filter.outputs.vue3 }}
      eslint-plugin: ${{ steps.filter.outputs.eslint-plugin }}
      stylelint-plugin: ${{ steps.filter.outputs.stylelint-plugin }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Filter actions by path
        uses: dorny/paths-filter@v2
        id: filter
        with:
          base: ${{ github.event.inputs.base && github.event.inputs.base || github.ref }}
          list-files: 'json'
          filters: |
            dialtone:
              - 'package.json'
            css:
              - 'packages/dialtone-css/package.json'
            emojis:
              - 'packages/dialtone-emojis/package.json'
            icons:
              - 'packages/dialtone-icons/package.json'
            tokens:
              - 'packages/dialtone-tokens/package.json'
            vue2:
              - 'packages/dialtone-vue2/package.json'
            vue3:
              - 'packages/dialtone-vue3/package.json'
            eslint-plugin:
              - 'packages/eslint-plugin-dialtone/package.json'
            stylelint-plugin:
              - 'packages/stylelint-plugin-dialtone/package.json'

  get-branch-name:
    runs-on: ubuntu-latest
    outputs:
      current_branch: ${{ steps.branch-name.outputs.current_branch }}
    steps:
      - name: Get branch name
        id: branch-name
        uses: tj-actions/branch-names@v7.0.7
  check-dialpad-member:
    runs-on: ubuntu-latest
    steps:
      # Will prevent the rest of the steps from running on fail
      - name: Check if user is a dialpad member
        uses: octokit/request-action@v2.x
        with:
          route: GET /orgs/dialpad/members/${{ github.actor }}
        env:
          GITHUB_TOKEN: ${{ secrets.DIALTONE_CI_TOKEN }}

  release:
    needs: [get-branch-name, check-dialpad-member, filter-actions]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      issues: write
      pull-requests: write
    env:
      BRANCH_NAME: ${{ needs.get-branch-name.outputs.current_branch }}
      RELEASE_TAG: ${{ needs.get-branch-name.outputs.current_branch == 'production' && 'latest' || needs.get-branch-name.outputs.current_branch }}
      DIALTONE_RELEASE_TAG: ${{ needs.get-branch-name.outputs.current_branch == 'production' && 'next' || needs.get-branch-name.outputs.current_branch }}
      DIALTONE_VUE3_RELEASE_TAG: ${{ needs.get-branch-name.outputs.current_branch == 'production' && 'vue3' || needs.get-branch-name.outputs.current_branch }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Setup Java
        if: ${{ needs.get-branch-name.outputs.current_branch == 'production' && needs.filter-actions.outputs.tokens == 'true' }}
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'
          cache: 'gradle'
          cache-dependency-path: |
            packages/dialtone-tokens/*.gradle*
            packages/dialtone-tokens/**/gradle-wrapper.properties

      - name: Use pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - name: Setup pnpm cache
        uses: actions/cache@v3
        with:
          path: ${{ env.STORE_PATH }}
          key: "${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}"
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Set npm token
        run: pnpm config set //registry.npmjs.org/:_authToken=${{ secrets.DIALTONE_NPM_TOKEN }}

      # Publish android
      - name: Build android
        if: ${{ needs.get-branch-name.outputs.current_branch == 'production' && needs.filter-actions.outputs.tokens == 'true' }}
        working-directory: ./packages/dialtone-tokens
        continue-on-error: true
        run: pnpm nx publish:android-package

      - name: Publish android - Gradle
        if: ${{ needs.get-branch-name.outputs.current_branch == 'production' && needs.filter-actions.outputs.tokens == 'true' }}
        working-directory: ./packages/dialtone-tokens
        env:
          GITHUB_USER: braddialpad
        continue-on-error: true
        run: ./gradlew publish

      # Publish iOS
      - name: Build swift
        if: ${{ needs.get-branch-name.outputs.current_branch == 'production' && needs.filter-actions.outputs.tokens == 'true' }}
        working-directory: ./packages/dialtone-tokens
        continue-on-error: true
        run: pnpm nx publish:ios-package

      - name: Publish production - Swift
        if: ${{ needs.get-branch-name.outputs.current_branch == 'production' && needs.filter-actions.outputs.tokens == 'true' }}
        uses: cpina/github-action-push-to-another-repository@v1.5.1
        env:
          API_TOKEN_GITHUB: ${{ secrets.DIALTONE_CI_TOKEN }}
        continue-on-error: true
        with:
          user-email: 'dialtone@dialpad.com'
          source-directory: 'packages/dialtone-tokens/dist_ios'
          destination-repository-name: 'dialtone-tokens-swift'
          destination-github-username: 'dialpad'
          commit-message: "dialtone-tokens-swift release"

      # Publish to NPM
      - name: Publish dialtone ${{ env.DIALTONE_RELEASE_TAG }}
        if: ${{ needs.filter-actions.outputs.dialtone == 'true' }}
        run: >
          pnpm nx dialtone:publish
           --publish-branch ${{ env.BRANCH_NAME }}
           --tag ${{ env.DIALTONE_RELEASE_TAG }}

      - name: Publish dialtone css ${{ env.RELEASE_TAG }}
        if: ${{ needs.filter-actions.outputs.css == 'true' }}
        run: >
          pnpm nx dialtone-css:publish
           --publish-branch ${{ env.BRANCH_NAME }}
           --tag ${{ env.RELEASE_TAG }}

      - name: Publish dialtone emojis ${{ env.RELEASE_TAG }}
        if: ${{ needs.filter-actions.outputs.emojis == 'true' }}
        run: >
          pnpm nx dialtone-emojis:publish
           --publish-branch ${{ env.BRANCH_NAME }}
           --tag ${{ env.RELEASE_TAG }}

      - name: Publish dialtone icons ${{ env.RELEASE_TAG }}
        if: ${{ needs.filter-actions.outputs.icons == 'true' }}
        run: >
          pnpm nx dialtone-icons:publish
           --publish-branch ${{ env.BRANCH_NAME }}
           --tag ${{ env.RELEASE_TAG }}

      - name: Publish dialtone tokens ${{ env.RELEASE_TAG }}
        if: ${{ needs.filter-actions.outputs.tokens == 'true' }}
        run: >
          pnpm nx dialtone-tokens:publish
           --publish-branch ${{ env.BRANCH_NAME }}
           --tag ${{ env.RELEASE_TAG }}

      - name: Publish dialtone vue2 ${{ env.RELEASE_TAG }}
        if: ${{ needs.filter-actions.outputs.vue2 == 'true' }}
        run: >
          pnpm nx dialtone-vue2:publish
           --publish-branch ${{ env.BRANCH_NAME }}
           --tag ${{ env.RELEASE_TAG }}

      - name: Publish dialtone vue3 ${{ env.DIALTONE_VUE3_RELEASE_TAG }}
        if: ${{ needs.filter-actions.outputs.vue3 == 'true' }}
        run: >
          pnpm nx dialtone-vue3:publish
           --publish-branch ${{ env.BRANCH_NAME }}
           --tag ${{ env.DIALTONE_VUE3_RELEASE_TAG }}

      - name: Publish Dialtone eslint plugin ${{ env.RELEASE_TAG }}
        if: ${{ needs.filter-actions.eslint-plugin-dialtone == 'true' }}
        run: >
          pnpm nx eslint-plugin-dialtone:publish
           --publish-branch ${{ env.BRANCH_NAME }}
           --tag ${{ env.RELEASE_TAG }}

      - name: Publish Dialtone stylelint plugin ${{ env.RELEASE_TAG }}
        if: ${{ needs.filter-actions.stylelint-plugin-dialtone == 'true' }}
        run: >
          pnpm nx stylelint-plugin-dialtone:publish
           --publish-branch ${{ env.BRANCH_NAME }}
           --tag ${{ env.RELEASE_TAG }}

      # Publish to GitHub packages
      - name: Set registry to GitHub packages
        run: pnpm config set @dialpad:registry https://npm.pkg.github.com

      - name: Set GitHub auth token
        run: pnpm config set //npm.pkg.github.com/:_authToken=${{ env.GITHUB_TOKEN }}

      - name: Publish dialtone ${{ env.DIALTONE_RELEASE_TAG }}
        if: ${{ needs.filter-actions.outputs.dialtone == 'true' }}
        run: >
          pnpm nx dialtone:publish
           --publish-branch ${{ env.BRANCH_NAME }}
           --tag ${{ env.DIALTONE_RELEASE_TAG }}

      - name: Publish dialtone css ${{ env.RELEASE_TAG }}
        if: ${{ needs.filter-actions.outputs.css == 'true' }}
        run: >
          pnpm nx dialtone-css:publish
           --publish-branch ${{ env.BRANCH_NAME }}
           --tag ${{ env.RELEASE_TAG }}

      - name: Publish dialtone emojis ${{ env.RELEASE_TAG }}
        if: ${{ needs.filter-actions.outputs.emojis == 'true' }}
        run: >
          pnpm nx dialtone-emojis:publish
           --publish-branch ${{ env.BRANCH_NAME }}
           --tag ${{ env.RELEASE_TAG }}

      - name: Publish dialtone icons ${{ env.RELEASE_TAG }}
        if: ${{ needs.filter-actions.outputs.icons == 'true' }}
        run: >
          pnpm nx dialtone-icons:publish
           --publish-branch ${{ env.BRANCH_NAME }}
           --tag ${{ env.RELEASE_TAG }}

      - name: Publish dialtone tokens ${{ env.RELEASE_TAG }}
        if: ${{ needs.filter-actions.outputs.tokens == 'true' }}
        run: >
          pnpm nx dialtone-tokens:publish
           --publish-branch ${{ env.BRANCH_NAME }}
           --tag ${{ env.RELEASE_TAG }}

      - name: Publish dialtone vue2 ${{ env.RELEASE_TAG }}
        if: ${{ needs.filter-actions.outputs.vue2 == 'true' }}
        run: >
          pnpm nx dialtone-vue2:publish
           --publish-branch ${{ env.BRANCH_NAME }}
           --tag ${{ env.RELEASE_TAG }}

      - name: Publish dialtone vue3 ${{ env.DIALTONE_VUE3_RELEASE_TAG }}
        if: ${{ needs.filter-actions.outputs.vue3 == 'true' }}
        run: >
          pnpm nx dialtone-vue3:publish
           --publish-branch ${{ env.BRANCH_NAME }}
           --tag ${{ env.DIALTONE_VUE3_RELEASE_TAG }}

      - name: Publish Dialtone eslint plugin ${{ env.RELEASE_TAG }}
        if: ${{ needs.filter-actions.eslint-plugin-dialtone == 'true' }}
        run: >
          pnpm nx eslint-plugin-dialtone:publish
           --publish-branch ${{ env.BRANCH_NAME }}
           --tag ${{ env.RELEASE_TAG }}

      - name: Publish Dialtone stylelint plugin ${{ env.RELEASE_TAG }}
        if: ${{ needs.filter-actions.stylelint-plugin-dialtone == 'true' }}
        run: >
          pnpm nx stylelint-plugin-dialtone:publish
           --publish-branch ${{ env.BRANCH_NAME }}
           --tag ${{ env.RELEASE_TAG }}


      # Release to GitHub
      - name: Release dialtone ${{ env.DIALTONE_RELEASE_TAG }}
        if: ${{ needs.filter-actions.outputs.dialtone == 'true' }}
        run: pnpm nx dialtone:release-github

      - name: Release dialtone css ${{ env.RELEASE_TAG }}
        if: ${{ needs.filter-actions.outputs.css == 'true' }}
        run: pnpm nx dialtone-css:release-github

      - name: Release dialtone emojis ${{ env.RELEASE_TAG }}
        if: ${{ needs.filter-actions.outputs.emojis == 'true' }}
        run: pnpm nx dialtone-emojis:release-github

      - name: Release dialtone icons ${{ env.RELEASE_TAG }}
        if: ${{ needs.filter-actions.outputs.icons == 'true' }}
        run: pnpm nx dialtone-icons:release-github

      - name: Release dialtone tokens ${{ env.RELEASE_TAG }}
        if: ${{ needs.filter-actions.outputs.tokens == 'true' }}
        run: pnpm nx dialtone-tokens:release-github

      - name: Release dialtone vue2 ${{ env.RELEASE_TAG }}
        if: ${{ needs.filter-actions.outputs.vue2 == 'true' }}
        run: pnpm nx dialtone-vue2:release-github

      - name: Release dialtone vue3 ${{ env.DIALTONE_VUE3_RELEASE_TAG }}
        if: ${{ needs.filter-actions.outputs.vue3 == 'true' }}
        run: pnpm nx dialtone-vue3:release-github

      - name: Release Dialtone eslint plugin ${{ env.RELEASE_TAG }}
        if: ${{ needs.filter-actions.eslint-plugin-dialtone == 'true' }}
        run: pnpm nx eslint-plugin-dialtone:release-github

      - name: Release Dialtone stylelint plugin ${{ env.RELEASE_TAG }}
        if: ${{ needs.filter-actions.stylelint-plugin-dialtone == 'true' }}
        run: pnpm nx stylelint-plugin-dialtone:release-github
