name: Unit Tests

on:
  pull_request:
    branches: [ staging, production, staging-vue3, vue3 ]
  push:
    branches: [ staging, staging-vue3 ]

jobs:
  unit_tests:

    runs-on: ubuntu-latest

    env:
      NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
      NODE_MODULES_CACHE_VERSION: vue3-v1

    steps:
      - name: Check out branch
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Use Library Cache
        id: library-cache
        uses: actions/cache@v2
        with:
          path: |
            ./node_modules/
            ~/.npm
          key: ${{ format('{0}-dialtone-vue-library-node-modules-{1}-{2}', runner.os, env.NODE_MODULES_CACHE_VERSION, hashFiles(format('package-lock.json'))) }}

      - name: Install dependencies
        if: steps.library-cache.outputs.cache-hit != 'true'
        run: npm ci

      - name: Run unit tests
        run: npm run test
