name: Visual Tests

on:
  push:
    branches: [ staging, staging-vue3 ]

jobs:
  visual_tests:

    runs-on: ubuntu-latest

    env:
      NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
      STORYBOOK_ROOT: ./storybook
      NODE_MODULES_CACHE_VERSION: v2

    steps:
      - name: Check out branch
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '16'

      - name: Use Library Cache
        id: library-cache
        uses: actions/cache@v2
        with:
          path: |
            ./node_modules/
            ~/.npm
          key: ${{ format('{0}-dialtone-vue-library-node-modules-{1}-{2}', runner.os, env.NODE_MODULES_CACHE_VERSION, hashFiles(format('package-lock.json'))) }}

      - name: Use Documentation Cache
        id: doc-cache
        uses: actions/cache@v2
        with:
          path: |
            ${{ env.STORYBOOK_ROOT }}/node_modules/
          key: ${{ format('{0}-dialtone-vue-documentation-node-modules-{1}-{2}', runner.os, env.NODE_MODULES_CACHE_VERSION, hashFiles(format('{0}/package-lock.json', env.STORYBOOK_ROOT))) }}

      - name: Install Library Dependencies
        if: steps.library-cache.outputs.cache-hit != 'true'
        run: npm ci

      - name: Install Docs Dependencies
        if: steps.doc-cache.outputs.cache-hit != 'true'
        run: npm run storybook:install

      - name: Build Storybook
        run: npm run storybook:build

      - name: Run Visual Tests
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
        run: npx percy storybook --verbose storybook/compiled
